body {
    font-family: "Hiragino Sans";
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    /* border: 1px solid #222222; */

    @media screen and (max-width: 950px) {
        width: 98%;
    }
    @media screen and (max-width: 480px) {
        width: 100%;
    }

}

h2 {
    text-align: center;
    font-family: "Hiragino Mincho ProN";
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 5px;
}

.header {
    p {
        text-align: center;
        font-family: "Hiragino Mincho ProN";
        font-size: 70px;
        font-weight: 400;
        margin: 10px;
        color: #333333;
    }
}

.intro {
    .intro_content {
        text-align: center;
        padding: 5px;
        p {
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    #en {
        p {
            font-family: "Hiragino Mincho ProN";
            font-size: 110%;
        }
        
    }
    
}

.sns {
    .sns_links {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        gap: 10px;
        /* width: 80%; */
        justify-content: center;
        /* height: 200px; */
        a {
            color: #333333;
            text-decoration: none;
        }
        .sns_link {
            img {
                height: 70px;
            }
            p {
                text-align: center;
                margin: 0;
                font-size: 13px;
                color: #333333;
                text-decoration: none;
            }
            .big_logo {
                height: 50px;
            }
        }
    }
}

.external {
    .note {
        .note_articles {
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
        }
    }
    .github {
        width: 100%;
        .github-status {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            width: 80%;
            @media screen and (max-width: 467px) {
                display: none;
            }
        }
        .repository {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            .repo {
                width: 400px;
                img {
                    width: 90%;
                }
            }
        }
    }
}