body {
  font-family: "Helvetica Neue",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Noto Sans JP",
    Arial,

    Meiryo,
    sans-serif;
  color: #111;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fcfbf7;
}

.header {
  .header_content {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 25px;
    }

    .meta_data {
      display: flex;
      gap: 20px;

      .sns {
        .sns_links {
          display: flex;
          gap: 10px;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            a {
              color: #222;
            }
          }
        }

      }
    }
  }

  .content {
    .article_links {
      .article_link {
        p {
          font-size: 10px;
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  gap: 10px;

  p {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
