body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Noto Sans JP",
    Meiryo,
    sans-serif;
    color: #222;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
  .header_content {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 25px;
    }

    .sns {
      .sns_links {
        display: flex;
        gap: 10px;
      }
      ul {
        list-style: none;
        li {
          a {
            color: #222;
          }
        }
      }

    }
  }

  .content {
    .article_links {
      .article_link {
        p {
          font-size: 10px;
        }
      }
    }
  }
}